#environment
NODE_ENV=development

#envs
NEXT_PUBLIC_WALLETCONNECT_PROJEXT_ID=
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_INFURA_API_KEY=
NEXT_IRON_PASSWORD=

#pinta
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_API_SECRET=
NEXT_PUBLIC_PINATA_JWT=

#supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

#contracts
NEXT_PUBLIC_EGG_CONTRACT_ADDRESS=0x44d779a79fc21D42CEF938303B11D1B255cd477e
NEXT_PUBLIC_ICAT_CONTRACT_ADDRESS=0x7CE1E9712AB15A74C5130ffE93C0785d785aB759